body {
  background-color: #20498c;
  width: 60em;
  margin: 0 auto;
}

header {
  background-color: #b2cfff;
  color: white;
  padding: 3em;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #e8743e;
  padding: 1em 2em;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  border-right: 1px solid #9C27B0;
  padding: 0 1em;
}

nav li:last-child {
  border: none;
}

nav a {
  color: white;
  text-decoration: none;
}

#content {
  background-color: #b2cfff;
  padding: 3em;
}

#content h2 {
  margin: 0;
  color: #424242;
}

#content ul {
  padding: 0;
  margin: 0;
}

#content li {
  display: block;
  clear: left;
  background-color: #424242;
  margin: 1em 0;
  padding: 2em;
  color: white;
}

#content li a {
  color: white;
}

#content .products li *{
  vertical-align: middle;
}

#type_image{
  transform: translate(0,-10px);
  text-align: center;
  float:right;
  width: 60px;
  height: 50px;
}

#image_restaurant{
  display: inline-block;
  clear:right;
  padding: 1em;
  width: 20em;
  height: 20em;
}

#description {
  display: inline-block;
  padding: 1em;
  float:left;
  width:25em;
  text-align: left;
  font-style: italic;
}

#menus{
  padding: 0;
  margin: 0;
}



#reviews{
  padding: 0;
  margin: 0;
}

#reviews li{
  display: block;
  clear: left;
  background-color: #e8743e;
  margin: 1em 0;
  padding: 2em;
  color: white;
}

#replies{
  padding: 0;
  margin: 0;
}

#replies li{
  display: block;
  clear: left;
  background-color: #a3310e;
  margin: 1em 0;
  padding: 1em;
  color: white;
}

#view_page_header{
   background-image: url('../images/back.png');
}

#view_page_header_title{
  padding-top:1em;
  padding-left:1em;
}

#menus li{
  display: inline-block;
  clear: left;
  background-color: #b77d63;
  margin: 1em 0;
  padding: 2em;
}

 .dropdown {
    position: relative;
    display: inline-block;
}

 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

 .dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
    color: black;
}

.dropdown-replies {
   position: relative;
   display: inline-block;
}

.dropdown-content-replies {
   display: none;
   position: absolute;
   background-color: #bbe6f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-replies:hover .dropdown-content-replies {
   display: block;
}

.desc-replies {
   padding: 15px;
   text-align: center;
   color: black;
}

.mySlides {display:none;}


footer {
  background-color: #b2cfff;
  color: white;
  padding: 1em 3em;
}

form label {
  display: block;
  width: 10em;
  margin-top: 1em;
}

nav form {
  float: right;
}

nav input[type=text], nav input[type=password]{
  width: 10em;
}
